@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-violet: #3e2c5c;
  --dark-green-900: #1C4C2D;
  --dark-green-500: #429155;
  --dark-text: #1B1B1B;
}

@theme inline {
  --color-dark-violet: var(--dark-violet);
  --color-dark-text: var(--dark-text);
  --color-dark-green-900: var(--dark-green-900);
  --color-dark-green-500: var(--dark-green-500);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
